<div class="top-bar">
    <a class="logo" href="">
        <img src="@ImagePath/logo.svg" />
    </a>
    <a href="" class="nav-tab active">
        <img src="@ImagePath/pizza-slice.svg" />
        <div>Elegir Pizza</div>
    </a>
</div>

